
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --red: #D01C28;
  --gray: #2e2e2e ;
}

body{
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

button{
  padding: 6px 16px;
  background: var(--red);
  /* width: 75px; */
  height: 31px;
  color: white;
  font-weight: 500;
  border: transparent;
}
nav{
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 20px auto;
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

/* .hero-btn{
  width: 150px;
  height: 40px;
} */

.hero{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  height: calc(100vh - 72px);
}

.hero-content{
  gap: 10px
  
}
.hero h1{
  font-size: 108px;
  font-weight: 800;
  line-height: 102px;
  max-width: 595px;
  height: 294px;
  margin-bottom: 15px;
}

.hero p{
  font-weight: 600;
  color: var(--gray);
  max-width: 404px;
  height: 88px;
  margin-top: 0;
  
}

.hero-btn{
  display: flex;
  gap: 40px;
}

.secondary-btn{
  background-color: transparent;
  color: var(--gray);
  border: 1px solid gray;

}

.shopping{
  width: 148px;
  height: 67px;
  
}

.shopping p{      /*update this*/
  font-size: 13px;
  color: var(--gray);
  margin-top: 4px;
  width: 140px;
  height: 23px;
}


.brand-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 10px; /*change*/
  
}

.brand-icons img{
  margin-top: 0;
}
.shoe-img
{
  max-width: 530px;
  height: 487px;
  margin-bottom: 0px;
}

